@media (max-width: 77em) {
  .container {
    padding: 3rem 0;
  }

  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3rem;
  }

  /* Grid Layout */
  .grid--4-cols div:first-child {
    grid-column: span 2;
  }

  .grid--4-cols div:nth-child(3) {
    grid-column: 1;
  }

  .grid--4-cols div:nth-child(4) {
    grid-column: span 2;
  }

  .grid--4-cols div:last-child {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}

@media (max-width: 61em) {
  .grid--4-cols {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
  }

  .quote-icon {
    display: none;
  }
}
